/* DATEI: format.css */
h1      { 
           color:            red;
           background-color: yellow
        }
h2      {
        color: blue;
        text-align: left
        }
body    {   background-color:silver;
            font-family: Arial;
            text-align: center
        }
ol	{
	list-style-type:  decimal; 
        text-align: left;
        }
.box    {border: 1px solid;
        width: 200px;
        height: auto;
        padding: 5%;
        margin: 5%;
        background-color: yellow;
        }