h1          {
            color: blue;
            text-align: center
            }
body        {background-color:silver;
            font-family: Arial;
            text-align: center
            }
td          {color: blue
            }